.incomingTasks {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  align-items: center;
}

@media (min-width: 1600px) {
  .incomingTasks {
    flex: 1;
    height: 100%;
    width: 100%;
  }
}
